<!--Loads static files-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!--Controls how website behaves on mobile device-->>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>VibraFit - Login</title>
        <!--Static files: css-->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <body>
        <!--Login Div-->
        <div class="login-box">
            <!--Title-->
            <h1>VibraFit</h1>
            <!--Login form-->
            <form method="post">
                <input type="text" placeholder="username" required>
                <input type="password" placeholder="password" required>

                <button type = "submit">Login</button>
            </form>
            <!--Links/Forgotten Info-->
            <div class="link-box">
                <!--links to forgot password(Todo: Add hyperlinks to forgot password)-->
                <a href="#">Forgot password?</a>
                <!--links to create account(Todo: Add hyperliks to create account)-->
                <a href="#">Create account</a>
            </div>
            <!--Divder-->
            <div class="divider">
                <span>OR</span>
            </div>
            <!--Social Login-->
            <div class = "social-login">
                <button class = "google-btn">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" alt="Google">   
                </button>
                <button class = "apple-btn">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple">
                </button>
            </div>

        </div>
    </body>
</html>